# maven build directory
/target/

# eclipse specific files
/.settings/

.project
.classpath

# IntelliJ specific files
.idea/
rails.iml

# rails log files
**/18xx.log

# backup files
**/*.*~

# icon thumbnail files
**/.directory

# failed Rails test files
**/*.failed
/bin/

# logback test configuration
**/logback-test.xml

#classes
/classes/

/.gradle/
